stages:
  - build
  - test

include:
  - template: Code-Quality.gitlab-ci.yml

code_quality:
  services:
  tags:
    - cq-sans-dind     # Set this job to only run on our new specialized runner

build_job:
  stage: build
  script:
    - apt-get update
    - apt-get install -y wget curl
    - 'if [ ! -d "/etc/pihole" ]; then mkdir /etc/pihole; fi'
    - wget -O /etc/pihole/setupVars.conf https://pastebin.com/raw/YBpWALGg
    - curl -sSL https://install.pi-hole.net | PIHOLE_SKIP_OS_CHECK=true bash -s --unattended
